.modules-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 4rem;
    direction: rtl;
    position: relative
}
.modules-wrapper .modules-menu{
    background-color: #17252A;
    width: 25vw;
    height: 60vh;
    padding: 2rem;
}
.modules-content{
    width: 60vw;
    display: none;
}
.modules-content h1{
    color: #0ca1d3;
    margin-bottom: 2rem;
}
.modules-content li{
    list-style-type: disc;
    width: 40vw; 
    padding: 0.5rem 1rem;
    font-family: 'Droid Arabic Kufi', serif;
    font-size: 14pt;
    
}
.modules-content li:nth-child(2n+1){
    background-color: #d3e2f3;
}
.modules-content li:nth-child(2n){
    background-color: #61a8c0;
}
.modules-wrapper .modules-menu li{
    border-bottom: 2px solid rgb(224, 224, 224);
    width: 70%;
    cursor: pointer;
}
.modules-wrapper .modules-menu li:hover{
    background-color: rgba(236, 166, 14, 0.801);
}
.modules-menu h2{
    color: rgb(236, 166, 14);
}
.modules-menu ul li a{
    color: rgb(219, 219, 219);
    display: block;
    margin: 0.8rem 2rem;
}